/* TitleCards.css */

.titlecards {
  
  position: relative;
  margin-top: 10px; /* pull up cards over the banner */
  z-index: 2;
  width: 100vw;
 
}

.title-cards h2 {
  color: #ffffff;
  font-size: 1.8rem;
  margin-bottom:12px;
}

.card-list {
   
  display: flex;
overflow-x: auto;
  gap: 10px;

}
.card-list::-webkit-scrollbar{
    display: none;
}
.card-list img{
    
    width: 240px;
    border-radius: 4px;
    cursor: pointer;

}
.card-list .card {
    
    position: relative;
}

.card-list .card p{
      color: #e5e5e5;
  font-size: 0.9rem;
  margin-top: 5px;
  text-align: center;
}

