/* Navbar.css */

.navbar {
  width: 100%;
  height: 70px;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.7) 10% transparent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 6%;
  position: fixed;
  top: 0;
  z-index: 1;
  font-size: 14px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar-left img {
  height: 40px;
}

.navbar-left ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-left ul li {
  color: #e5e5e5;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}

.navbar-left ul li:hover {
  color: #b3b3b3;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-right p {
  color: #e5e5e5;
  font-size: 14px;
  cursor: pointer;
}

.icons {
  width: 20px;
  cursor: pointer;
  filter: invert(1);
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.profile {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.navbar .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px ;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}
.navbar .dropdown p{
    font-size: 13px;
    cursor: pointer;

}
.navbar-profile:hover .dropdown{
    display: block;
}


@media (max-width: 1024px) {
  .navbar-left ul li:nth-child(5),
  .navbar-left ul li:nth-child(6) {
    display: none; 
  }
}

@media (max-width: 768px) {
  .navbar-left ul li:nth-child(3),
  .navbar-left ul li:nth-child(4) {
    display: none;
  }
}

@media (max-width: 600px) {
  .navbar-left ul {
    display: none; 
  }

  .navbar-right p {
    display: none;
  }

  .navbar {
    padding: 0 15px;
  }
}
